name: Old Fart GOLANG CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # 1) Шаг EntryGate
  lint-and-format:
    name: EntryGate (Линтинг и форматирование)
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.23"

      # Установка goimports
      - name: Install goimports
        run: go install golang.org/x/tools/cmd/goimports@latest

      # Проверка кода на форматирование (gofmt)
      - name: Check formatting
        run: |
          UNFORMATTED=$(gofmt -l .)
          if [ -n "$UNFORMATTED" ]; then
            echo "Не отформатированные файлы:"
            echo "$UNFORMATTED"
            echo "Пожалуйста, запустите 'gofmt -w .' и закоммитьте изменения."
            exit 1
          fi

      # Проверка импортов (goimports)
      - name: Check imports
        run: |
          UNFORMATTED=$(goimports -l .)
          if [ -n "$UNFORMATTED" ]; then
            echo "Файлы с неправильными импортами:"
            echo "$UNFORMATTED"
            echo "Пожалуйста, запустите 'goimports -w .' и закоммитьте изменения."
            exit 1
          fi

      # Линтер (с явным указанием конфигурации)
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --config=.golangci.yml --verbose

  # 2) Шаг Build
  build:
    name: Build (Сборка проекта)
    runs-on: ubuntu-latest
    needs: [lint-and-format]
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.23"

      - name: Build CLI application
        run: go build -o teambuilder ./cmd/teambuilder

      - name: Build TUI application
        run: go build -o teambuilder-tui ./cmd/teambuilder-tui

  # 3) Шаг Test
  test:
    name: Test (Тесты и покрытие)
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.23"

      # Запуск тестов с покрытием
      - name: Run tests with coverage
        run: go test -v -coverprofile=coverage.out ./...

      # Отобразить статистику покрытия в логах
      - name: Show coverage
        run: go tool cover -func=coverage.out